
.categories-product-container {
    padding-right: 11.1%;
    padding-left: 8%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #FCFCFC;
    padding-bottom: 5%;
}

.random-product-container {
    display: flex;
    flex-direction: row;
    padding: 0;
    position: static;
    width: 739px;
    height: 420px;
    left: 541px;
    top: 98px;
    margin-left: 100px;
}

.random-product-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
    position: static;
    width: 346px;
    height: 420px;

}

.random-product-name {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 51px;
    letter-spacing: 0.84px;
    color: #000000;
    margin-top: 0;
}

.random-product-price {
    position: static;
    width: 310px;
    height: 51px;
    left: 0;
    top: 67px;
    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    letter-spacing: 0.84px;
    color: #8367D8;
    padding-top: 16px;
}

.random-product-description {
    position: static;
    width: 346px;
    height: 168px;
    left: 0;
    top: 134px;
    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #9B9B9B;
}

.list-group-categories {
    left: 0;
    position: static;
    display: flex;
    flex-wrap: wrap;
}

.list-group {
    width: 262px;
}

.list-group-categories .list-group-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: static;
    width: 262px;
    height: 56px;
    top: 0;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-top: 0;
    margin-bottom: 0;
    background: #FFFFFF;
    padding: 16px;
    font-size: 16px;
    color: #252525;
    border-left: none;
    border-right: none;
    border-top: none;
}

.list-group-item-action {
    border-bottom: 1px solid #D8D8D8
}

.bid-now-button {
    width: 183px;
    height: 51px;
    background: #FFFFFF;
    border: 3px solid #8367D8;
    box-sizing: border-box;

}

.bid-now-text {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.63px;
    text-transform: capitalize;
    color: #252525;
    margin-right: 20px;
}

.new-last-container {
    text-align: left;
    margin-right: 11.1%;
    margin-left: 11.1%;
}

.tab-container {
    display: flex;

}

.tab-item-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 24px;
    margin-bottom: 17%;
    padding-bottom: 120px;
}

.tab-item {
    padding-right: 64px;
    padding-bottom: 48px;
    font-size: 20px;
}

.tab-product {
    font-family: 'Lato', sans-serif;
    font-style: normal;
}

.tab-product:hover {
    transform: scale(1.05);
}

.product-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.84px;
    color: #252525;
    margin-top: 0;
    margin-bottom: 0;
}

.product-price {
    margin-top: 8px;
    color: #9B9B9B;
    font-weight: 500;
}

.gray-line {
    color: #9B9B9B;
    width: 100%;
    border: 1px solid;
    margin-top: 0;
    margin-bottom: -29px;
}

.nav-link {
    color: black;
}
