.login-wrapper {
    display: flex;
    justify-content: center;
    margin: 1.3% 0 17%;
    flex-wrap: wrap;
}

.login-form-container {
    width: 39.8%;
    min-width: 738px;
    background: #FFFFFF;
    border: 1px solid #D8D8D8;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.login-form-title {
    width: 100%;
    height: 75px;
    background-color: #fafafa;
    color: #000000;
    font-family: "Lato", sans-serif;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0.84px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.all-input-fields {
    padding: 45px 95px 32px;
}

.input-field {
    padding-bottom: 32px;
}

.login-text-input {
    display: flex;
    flex-direction: column;
    width: 548px;
    height: 63px;
    border: 1px solid #D8D8D8;
    background-color: #FCFCFC;
    padding-left: 16px;
    margin-top: 3%;
    font-size: 16px;
    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 27px;
    color: #252525;
}

.login-button {
    width: 568px;
    height: 60px;
    border: 3px solid #8367D8;
    background-color: #8367D8;
    font-size: 18px;
    color: #FFFFFF;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 48px auto;
}

.login-button:hover {
    cursor: pointer;
}

.reset-password {
    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.63px;
    margin-bottom: 32px;
    margin-left: 40%;
    margin-right: 40%;
}

.reset-password a {
    text-decoration: none;
    color: #8367D8;
}

.invalid-feedback {
    color: red;
}

.form-check-input {
    margin-right: 16px;
    margin-left: 0;
    margin-top: 24px;
    height: 16px;
    width: 16px;
    border: 1px solid #D8D8D8;
    box-sizing: border-box;
}

.form-check-label {
    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #252525;
}

.form-label {
    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #252525;
}

.login-error {
    width: 100%;
    height: 60px;
    font-family: "Lato", sans-serif;
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 0.84px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    margin-bottom: 24px;
    border: 1px solid #f1a899;
    background: #fddfdf;
    color: #5f3f3f
}
