.shop-page-wrapper {
    display: flex;
    margin-right: 11.1%;
    margin-left: 11.1%;
    padding-bottom: 20%;
    justify-content: space-between;
    padding-top: 32px;
}

.categories-shop-container {
    padding-top: 24px;
    padding-right: 33px;
    padding-left: 24px;
    padding-bottom: 0;
    background: #FFFFFF;
    border: 1px solid #D8D8D8;
    box-sizing: border-box;
    height: 20%;
}

.product-categories {
    color: #8367D8;
    padding-bottom: 32px;
    padding-top: 0;
    font-weight: bold;
    cursor: default;
}

.list-group-flush {
    width: 190px;
}

.category.list-group-item {
    display: flex;
    position: relative;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 17px;
    color: #252525;
    margin-bottom: 24px;
    cursor: pointer;
    border: none;
    background-color: inherit;
    justify-content: space-between;
}

.category.list-group-item:hover {
    color: #8367D8;
}
.category.list-group-item:focus {
    outline: 0;
}
.category.list-group-item:active {
    outline: none;
}

.shop-product-container {
    width: 79%;
}

.shop-grid {
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-gap: 24px;
    padding-left: 24px;
}

.shop-product-item:hover {
    cursor: pointer;
}

.shop-product-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.84px;
    color: #252525;
    margin-top: 0;
    margin-bottom: 0;
}

.shop-product-title:hover {
    text-decoration: underline;
}

.shop-product-price {
    margin-top: 8px;
    color: #9B9B9B;
    font-weight: 500;
}

.shop-sorting-bar {
    width: 262px;
    padding-bottom: 81px;
    padding-left: 24px;
}

.form-select:hover {
    border: 2px solid #8367D8;
}

.form-select {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 24px;
    position: static;
    width: 262px;
    height: 43px;
    background: #FFFFFF;
    border: 2px solid #D8D8D8;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #252525;
}

select:focus {
    border-color: #8367D8;
    outline: none;
}

select {
    appearance: none;
}

.explore-more-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.explore-more-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 81px;
    padding-top: 16px;
    padding-bottom: 16px;
    position: static;
    width: 256px;
    height: 59px;
    background: #8367D8;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.63px;
    color: #FFFFFF;
    border: 1px solid #8367D8;
    cursor: pointer;
    margin-left: 24px;
}

.arrow-icon {
    pointer-events: none;
    margin-left: 222px;
    margin-top: -33px;
    width: 16px;
    height: 16px;
}

.toggle-style {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 81px;
    position: static;
    width: 155px;
    height: 34px;
}

.toggle-text {
    display: inline-block;
    vertical-align: middle;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    padding-left: 11px;
    padding-bottom: 11px;
}

.sorting-grid-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.toggle-button {
    padding: 0;
    border: none;
    background: none;
    align-items: center;
}

.toggle-button:hover {
    cursor: pointer;
    color: #8367D8;
}

.shop-list-product {
    display: flex;
    padding-left: 24px;
    pointer-events: none;
}

.shop-list-item {
    display: flex;
    margin-bottom: 24px;
}

.shop-list-info {
    display: flex;
    flex-direction: column;
    width: 534px;
    padding-left: 24px;
}

.shop-list-title {
    flex: 1;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.84px;
    color: #252525;
    margin-top: 0;
    margin-bottom: 15px;
    pointer-events: auto
}

.shop-list-title:hover {
    text-decoration: underline;
    cursor: pointer;
}

.shop-list-description {
    flex: 2;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: #9B9B9B;
    margin-bottom: 15px;
}

.shop-list-price {
    flex: 3;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 51px;
    letter-spacing: 0.84px;
    color: #8367D8;
}

.shop-list-bid-button {
    display: flex;
    margin-top: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    position: static;
    width: 71px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #D8D8D8;
    box-sizing: border-box;
    cursor: pointer;
    align-items: center;
    padding-left: 10px;
    pointer-events: auto;
}

.shop-list-bid-button-text {
    padding-right: 8px;
}

.shop-list-bid-button:hover {
    color: #8367D8;
    border: 2px solid #8367D8;
    pointer-events: auto;
}
